
body {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    margin: 0;
    background-color: #f7f7f7;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

header, footer {
    padding: 20px;
}
